.titrePage{
    color: white;
    background-color: #0E2B46;
    text-align: center;
    width: 90%;
    margin-left: 10%;
    margin: 0 auto;
    margin-top: 4%;
    font-family: 'Roboto', sans-serif;

}
