.buttonNavBar{
    background-color: #6F5F96;
    border-radius: 25px;
    color: white;
    font-family: 'Roboto', sans-serif;
    width: 159px;
    height: 45px;
    margin-right: 53px;
    margin-top: 18%;
}


/* Retire la marge du dernier élément pour éviter l'espace supplémentaire à la fin */
.buttonNavBar:last-child {
    margin-right: 0;
}

.navBar{
    margin-left: 13%;
}
