html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.content {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("./Assets/AMS.png");
  background-size: cover;
  background-position: center 20%;
  background-repeat: no-repeat;
  border: solid white 1px;
  background-color: rgb(127, 127, 127);
}

.content::before {
  content: '';
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(167, 198, 232, 0.8);
  z-index: 1; 
}

.content > * {
  position: relative; 
  z-index: 2;
}

/* slick-carousel CSS */
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
